body {
  margin: 0;
  font-family: 'Dekko', cursive;
  background: url("https://techy-ui.github.io/Project-pig/back.png") no-repeat center center fixed;
  background-size: cover;
  color: #4d2b1f;
}

.header {
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  padding: 15px 30px;
}

.title-row {
  display: flex;
  align-items: center;
  gap: 15px;
}

.title-row img {
  width: 60px;
  height: auto;
}

.title-row h1 {
  font-family: "Merienda", cursive;
  color: #69443c;
  font-size: 1.8rem;
}

.title-row sub {
  display: block;
  font-size: 0.7rem;
  color: #fff;
  font-family: "Edu NSW ACT Hand Pre", cursive;
}

.content {
  padding: 20px 60px;
}

.qr-scanner-container {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.qr-box {
  background: rgba(255,255,255,0);
  border-radius: 20px;
  padding: 20px;
  display: inline-block;
  text-align: center;
}

.qr-options {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.qr-options button {
  background-color: #f7a3b5;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

.qr-options button:hover {
  background-color: #b15b40;
}

.patient-info {
  background: rgba(255,255,255,0.85);
  border-radius: 15px;
  padding: 20px;
  margin-top: 30px;
  max-width: 500px;
}

.patient-info h3 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #4a2f2a;
}

.patient-info p {
  margin: 5px 0;
  font-size: 1.1rem;
}
